<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>movie list</title>
</head>
<body>
当前用户: <span th:text="${username}"></span><br>
<a th:href="@{/user/profile}">个人中心</a>
<br><br>
<table>
  <tr>
    <th>观看时间</th>
    <th>电影名</th>
    <th>票价</th>
    <th>评价</th>
    <th>操作</th>
  </tr>
  <tr th:each="m : ${movies}">
    <td th:text="${m.watchTime}"></td>
    <td th:text="${m.name}"></td>
    <td th:text="${m.price}"></td>
    <td th:text="${m.comment}"></td>
    <td>
      <a th:href="@{/movie/detail(watchTime=${m.watchTime})}">详情</a><br>
      <a th:href="@{/movie/edit(watchTime=${m.watchTime})}">编辑</a><br>
      <a th:href="@{/movie/upload_page(watchTime=${m.watchTime})}">新增图片</a><br>
      <a th:href="@{/movie/images(watchTime=${m.watchTime})}">查看图片</a><br>
      <form th:action="@{/movie/delete}" method="post">
        <input type="hidden" name="watchTime" th:value="${m.watchTime}">
        <input type="submit" value="删除">
      </form>
    </td>
  </tr>
</table>
<br>
<a th:href="@{/movie/new}">新增电影</a>
</body>
</html>
